* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: black; /*#4e4e4e*/
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    justify-content: center;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: relative;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.terminal {
    color: white;
    position: relative;
    margin: 1%;
}
.f {
    position: relative;
    display: inline;
}
.i {
    border: none;
    outline: none;
    background-color: transparent;
    height: 20px;
    font-size: 16px;
    color: white;
    caret-shape: block;
    caret-color: white;
    /* width: 90%; */
}
input {
    caret-shape: block;
}
.jpn-text {
    position: relative;
    margin-left: 20%;
    font-size: 40px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.img-fmt {
    position: relative;
    display: block;
    margin: auto;
    border-width: 4px;
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    height: 90%;
}
